data/GW150914_results/150914_d_phi_2_no-overlap_resume.pickle filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_hybrid.hdf5 filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_hybrid_step1_time-maximized.hdf5 filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_hybrid_step2_resume.hdf5 filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_hybrid_step2_time-maximized.hdf5 filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_ptemcee_initialization_comparison_posterior.hdf5 filter=lfs diff=lfs merge=lfs -text
data/GW150914_results/150914_ptemcee_initialization_comparison_logposteriorarray.npz filter=lfs diff=lfs merge=lfs -text
data/bgr_results/injection_d_phi_2_no-overlap_resume.pickle filter=lfs diff=lfs merge=lfs -text
data/bgr_results/injection_d_phi_2_resume.pickle filter=lfs diff=lfs merge=lfs -text
data/bgr_results/injection_direct.hdf5 filter=lfs diff=lfs merge=lfs -text
data/bgr_results/injection_hybrid_step2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/bgr_results/injection_hybrid_step2_no-overlap.hdf5 filter=lfs diff=lfs merge=lfs -text
data/misspecified/misspecified_ptemcee-step filter=lfs diff=lfs merge=lfs -text
data/misspecified/misspecified_dynesty-only filter=lfs diff=lfs merge=lfs -text
data/misspecified/misspecified_dynesty-step filter=lfs diff=lfs merge=lfs -text
data/wellspecified/wellspecified_dynesty-only filter=lfs diff=lfs merge=lfs -text
data/wellspecified/wellspecified_dynesty-step filter=lfs diff=lfs merge=lfs -text
data/wellspecified/wellspecified_ptemcee-step filter=lfs diff=lfs merge=lfs -text
